@font-face {
    font-family: sourceCodePro;
    src: url(SourceCodePro.ttf);
}
body{
    padding-top: 50px;
}

.navbar-inverse{
    background-color: #222222;
    background:
    linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0,
    linear-gradient(27deg, #222 5px, transparent 5px) 0 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 20px 20px;
}

.navbar-brand{
    font-family: sourceCodePro, monospace;
}

.jumbotron h1{
    font-family: sourceCodePro, monospace;
}

.description{
    font-size: 1.5em;
}

table.tablesorter thead tr .header {
    background-image: url(bg.gif);
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
}

table.tablesorter thead tr .headerSortUp {
    background-image: url(asc.gif);
}
table.tablesorter thead tr .headerSortDown {
    background-image: url(desc.gif);
}

.separator{
    border-bottom: 1px solid black;
}

/* Over lay */
#overlay{
    background-color: rgba(0,0,0,0.6);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    min-height: 100%;
    min-width: 100%;
}
.closePopup{
   transform: translateX(-10px);
}
#popup {
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    max-height: 80%;
    overflow: auto;
    transform: translate(-50%,-50%) ;
}
#popup input[type=text], #popup textarea{
    width: 500px;
}
#popup .form-group p{
    padding-left: 10px;
}

/*Tabs*/
.tabBody{
    display: none;
}
#personalInfo{
    display: block;
}